.banner{
    height: 600px;
    background-color: rgb(168, 217, 217);
}

.content{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    height: 600px;
    padding-left:10px ;
}